body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: 1fr 5fr/1fr 5fr;
}
/* ////////////////////////////////////////////////// Left panel */
#left-panel{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
li{
    list-style-type: none;
    margin: 5px;
}
ul{
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lists{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ////////////////////////////////////////////////// main window */
#main-window{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color:  rgb(238, 238, 238);
    display: grid;
    grid-template: 1fr/3fr 1fr;
}
.main-window-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.announcements{
    width: 100%;
    height: 50%;
}
.announcement-box{
    background-color: white;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    overflow:auto;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px gray;
    padding: 10px 0px;
}
.announcement-box svg{
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.trending{
    width: 100%;
    height: 50%;
}
.trending-box{
    background-color: white;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px gray;
    padding: 10px 0px;
}
.main-window-left h5{
    font-size: 1.5rem;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.main-window-left h6{
    margin: 4px;
    font-size: 0.9rem;
}
.main-window-left p{
    margin: 0px 5px;
}
.trending img{
    width: 50px;
    margin: 0px 10px;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}
.trending1{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20%;
}
.trending p{
    font-size: 1.2rem;
    font-weight: 600;
}
.your-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    gap: 20px;
    height: 100%;
    margin: 0px 0px 20px 10px;

}
.projects-div>div{
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: purple;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left-width: 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
    .projects-div>div>div{
    display: flex;
    justify-content: right;
    align-items: center;
}
.your-projects h3{
    margin: 10px 15.5px;
    font-size: 24px;
}
div[class^='project-'] h6{
    font-size: 1.7rem;
    margin: 10px;
    margin-top: 20px;
}
div[class^='project-'] p{
    margin: 10px;
    font-size: 1.2rem;

}

/* ////////////////////////////////////////////////// Header */
#header{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.upper-header{
    display: flex;
    justify-content: space-between;

}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.account p{
    font-size: 1.2rem;
    font-weight: bold;
}
svg{
    margin: 5px;
}
.header{
    box-shadow: 2px 2px 2px 2px gray;
}
.header-input{
    display: flex;
    width: 65%;
    align-items: center;
    margin: 20px 20px 20px 40px;
}
.header-input svg{
    margin-right: 10px;
}
.header-input-field{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(238, 238, 238);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(95, 83, 14);
    font-size: 1.1rem;

}
.header-input-field:focus{
    outline: none;
    border-color: black;
}
.lower-header{
    display: flex;
    justify-content: space-between;
}
.lower-header img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.lower-header-left{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
}
.welcome-text{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.welcome-text p{
    font-size: 2rem;
    margin: 0px;
    font-weight: bold;
}
.lower-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 35px;
    gap: 5px;
}
.lower-header-right button{
    border:0;
    background-color: lightblue;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border-color: lightblue;
    outline: none;
    box-shadow: none;
    font-size: 1.2rem;
    font-weight: 400;

}
.lower-header-right>button:hover{
    box-sizing: none;
    border-color: none;
    box-shadow: none;
    background-color: lightskyblue;
}
.lower-header-right>button:focus{
    box-shadow: 1px 1px 2px 1px gray;
}